
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background: url('b1.jpg');
   background-size: cover;
   background-attachment:fixed;

}



img {
    /* logo image  and image of founders*/
    height: 170px;

}

.left {

    /*logo part*/

    position: absolute;
    display: inline-block;
    left: 39px;
    width: 50px;
    top: 20px;
}

.left img {
    width: 160px;
    filter: invert(1);
    height: 107px;
}

.middle {

    /*menu wala part */

    display: block;
    border: 2px solid black;
    background-color:black;
    border-radius: 18px;
    margin: 22px 330px;
    width: 50%;
    top: 20px;
    position:fixed;

}

.right {

    /*contact us wala part */

   position: absolute;
    /*border: 2px solid black;*/
    display: block;
    right: 50px;
    top: 45px;
}

#ref{
    text-decoration: none;
    color: white;
}

.btn {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 3px 5px;
    border-radius: 8px;
    background-color: rgb(83, 74, 56);
    color: white;
    cursor: pointer;
    position: sticky;

}

.btn:hover {
    background-color: orangered;
}

.nav {
    display: inline-block;

}

.nav li {

    display: inline-block;
    padding: 2px;
    margin: 12px;
    font-size: 25px;
    }

.nav li a {
    text-decoration: none;
    color:white;
}

.nav li a:hover {
    text-decoration: underline;
    color: orangered
}


.container {

    border:2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 188px 91px;
    padding: 2px;
    background-color: black;

}


/*
.cointainer2 {
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    height: 200px;                                      //founder wala part
    width: 710px;
    padding: 7px;
    margin: 0px;
    background-color: black;
}*/


.container4{
    border: 2px solid black;
    margin: 91px;
    border-radius: 10px;
    padding: 2px;
    background-color: black;
    text-align: center;
}

.container4 h1{
    font-size:800%;
}

.container5{
    border: 2px solid black;
    background-color: black;
    margin: 91px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.item{
    border: auto solid white;
    display: inline;
    margin: 10px;

}
h1{
    display: inline-block;
    /*border: 2px solid black;*/
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: white;
}
h2{
    color: white;
    text-align: center;
    margin-top: -76px;
    padding: 56px;
}


.form-group input{
    text-align: center;
    display: inline-block;
    width:700px;
    margin: 3px auto;
    padding: 16px;
    border: 2px solid black;
    border-radius: 14px;
    font-size: large;
    font-weight: bold;
}

.form-group textarea{
    text-align: center;
    display: inline-block;
    width:700px;
    margin: 3px auto;
    padding: 16px;
    border: 2px solid black;
    border-radius: 14px;
    resize: none;
    font-size:x-large;
    font-weight: bold;
}

.form-group button{
    width: 268px;
    border-radius: 14px;
    padding: 10px;
}


 /* for displaying error message */

 div #error_msg{
    text-align: center;
    width: 700px;
    margin: 3px auto;
    padding:16px;
    border-radius: 14px;
    font-weight: bold;
    color: orange;
}

p{
    color:white;
    font-size: x-large;
}

.item img{
    height: 350px;
}
.imgborder{
    /*border: 5px solid white;*/
    padding: 0px;
    margin: 15px auto;
}


.map{
    /*border: 2px solid black;*/
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin: 91px;
}

.map h2{
    font-size: xx-large;
}

div #clock{
    height: 2rem;
    width: 2rem;
    color: white;
    text-align: center;
    margin: 0px 68px;
    font-size: 20px;
}

.container6{
    border: 2px solid black;
    background-color: black;
    margin: 91px;
    padding: 40px;
}

.container6 h2{
    color: white;
    font-size: xx-large;
}

.container6 img{
    margin:-60px 594px;
    height: 45px;
    display: inline-block;
    position: absolute;
}

h3{
    color: white;
    margin: 91px;
    text-align: center;
}






















@media only screen and (max-width:750px) and (min-width: 360px){
    body {
        font-family: 'Roboto', sans-serif;
        margin: 10px;
        padding: 10px;
        background: url('b1.jpg');
        background-size: cover;
        background-attachment:fixed;
    
    }

    div #clock{
        height: 2rem;
        width: 20rem;
        color: white;
        text-align: center;
        margin: 0px 200px;
        font-size: 25px;
        border-radius: 18px;
        

    }

    

    /* logo part*/
    .left {

        /*logo part*/
    
        position: absolute;
        display: inline-block;
        left: 300px;
        width: 75px;
        top: 55px;
    }
    

    .right {

        /*contact us wala part */
    
       position: absolute;
        /*border: 2px solid black;*/
        display: block;
        right: -125px;
        top: 165px;
    }


    .middle {

        /*menu wala part */
    
        display: block;
        border: 2px solid black;
        background-color:black;
        border-radius: 18px;
        margin: 45px 150px;
        width: 57%;
        top: 185px;
        position:fixed;
        text-align: center;
    
    }
        

    .nav {
        display: inline;
        
    
    }

    .nav li {

        display: inline-block;
        padding: 0px;
        margin: 5px;
        text-align: center;
        font-size: 15px;
        }

        .container {

            border:2px solid black;
            border-radius: 10px;
            text-align: center;
            margin: 240px 150px;
            width:160%;
            padding: 2px;
            background-color: black;
        
        }

        .container4{
            border: 2px solid black;
            margin: -205px 150px;
            width:143%;
            border-radius: 10px;
            padding: 30px;
            background-color: black;
            text-align: center;
            
        }
        
        .container4 h1{
            font-size: 100%;
        }

        .form-group input{
            text-align: center;
            display: inline-block;
            width:300px;
            margin: 3px auto;
            padding: 16px;
            border: 2px solid black;
            border-radius: 14px;
            font-size: large;
            font-weight: bold;
        }

        

        .form-group textarea{
            text-align: center;
            display: inline-block;
            width:300px;
            margin: 3px auto;
            padding: 16px;
            border: 2px solid black;
            border-radius: 14px;
            resize: none;
            font-size:x-large;
            font-weight: bold;
        }

        .container5{
            border: 2px solid black;
            border-radius: 18px;
            background-color: black;
            margin: -150px 152px;
            width: 160%;
            height: 250px;
            align-items: center;
           
            /*display: flex;*/
            justify-content: space-evenly;
        }

        

        .item img{
            height: 145px;
           
        }

        .map{
            /*border: 2px solid black;*/
           
            margin:210px 150px;
            border-radius: 18px;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
             height: 145px;
             width: 140%;
           
        }

        iframe{
            height: 128px;
            width: 414px;
            padding: 0px;
        }
        
        
    
        .map h2{
            
            font-size:large;
            margin :5px;
            padding:0px;

        }

        .container6{
            border-radius: 18px;
            border: 2px solid black;
            background-color: black;
            margin: -180px 152px;
            padding: 40px;
            width: 140%;
        }

        
    .container6 h2{
        margin-top: -80px;
        color: white;
        font-size: xx-large;
    }

    .container6 img{
        margin:-60px 196px;
        height: 45px;
        display: inline-block;
        position: absolute;
    }

    h3{
        color: white;
        margin: 90px 5px;
        text-align: center;
}


}












@media only screen and (max-width:730px) and (min-width: 414px){
    body {
        font-family: 'Roboto', sans-serif;
        margin: 10px;
        padding: 10px;
        background: url('b1.jpg');
        background-size: cover;
        background-attachment:fixed;
    
    }

    div #clock{
        height: 2rem;
        width: 20rem;
        color: white;
        text-align: center;
        margin: 0px 325px;
        font-size: 25px;
        border-radius: 18px;
        

    }

    

    /* logo part*/
    .left {

        /*logo part*/
    
        position: absolute;
        display: inline-block;
        left: 430px;
        width: 75px;
        top: 55px;
    }
    

    .right {

        /*contact us wala part */
    
       position: absolute;
        /*border: 2px solid black;*/
        display: block;
        right: -200px;
        top: 165px;
    }


    .middle {

        /*menu wala part */
    
        display: block;
        border: 2px solid black;
        background-color:black;
        border-radius: 18px;
        margin: 45px 150px;
        width: 67%;
        top: 185px;
        position:fixed;
        text-align: center;
    
    }
        

    .nav {
        display: inline;
        
    
    }

    .nav li {

        display: inline-block;
        padding: 0px;
        margin: 5px;
        text-align: center;
        font-size: 15px;
        }

        .container {

            border:2px solid black;
            border-radius: 10px;
            text-align: center;
            margin: 240px 150px;
            width:160%;
            padding: 2px;
            background-color: black;
        
        }

        .container4{
            border: 2px solid black;
            margin: -205px 150px;
            width:143%;
            border-radius: 10px;
            padding: 30px;
            background-color: black;
            text-align: center;
            
        }
        
        .container4 h1{
            font-size: 100%;
        }

        .form-group input{
            text-align: center;
            display: inline-block;
            width:300px;
            margin: 3px auto;
            padding: 16px;
            border: 2px solid black;
            border-radius: 14px;
            font-size: large;
            font-weight: bold;
        }

        

        .form-group textarea{
            text-align: center;
            display: inline-block;
            width:300px;
            margin: 3px auto;
            padding: 16px;
            border: 2px solid black;
            border-radius: 14px;
            resize: none;
            font-size:x-large;
            font-weight: bold;
        }

        .container5{
            border: 2px solid black;
            border-radius: 18px;
            background-color: black;
            margin: -150px 152px;
            width: 160%;
            height: 250px;
            align-items: center;
           
            /*display: flex;*/
            justify-content: space-evenly;
        }

        

        .item img{
            height: 145px;
           
        }

        .map{
            /*border: 2px solid black;*/
           
            margin:210px 150px;
            border-radius: 18px;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
             height: 145px;
             width: 140%;
           
        }

        iframe{
            height: 128px;
            width: 414px;
            padding: 0px;
        }
        
        
    
        .map h2{
            
            font-size:large;
            margin :5px;
            padding:0px;

        }

        .container6{
            border-radius: 18px;
            border: 2px solid black;
            background-color: black;
            margin: -180px 152px;
            padding: 40px;
            width: 140%;
        }

        
    .container6 h2{
        margin-top: -80px;
        color: white;
        font-size: xx-large;
    }

    .container6 img{
        margin:-60px 196px;
        height: 45px;
        display: inline-block;
        position: absolute;
    }

    h3{
        color: white;
        margin: 90px 5px;
        text-align: center;
}


}

/*.footer{
    border:2px solid black;
    position:sticky;
    background-color:black;
    color: white;
}*/